.popover{color:#000;}
#valueBoxes-nb_tags{padding:3px;}
#valueBoxes-nb_indicateurs{padding:3px;}
#valueBoxes-nb_bases{padding:3px;}
#valueBoxes-nb_prod{padding:3px;}
#valueBoxes-nb_sources {padding:3px;}
#valueBoxes-prod_ppal{padding:3px;}
