.popover{color:#000;}
#valueBoxes-nb_tags{padding:3px;}
#valueBoxes-nb_indicateurs{padding:3px;}
#valueBoxes-nb_bases{padding:3px;}
#valueBoxes-nb_prod{padding:3px;}
#valueBoxes-nb_sources {padding:3px;}
#valueBoxes-prod_ppal{padding:3px;}

.bg-blue{
  background-color:#1263b3!important;/*c'est sale mais dans adminLTE il y a déjà un !important*/
}

.shiny-output-error { visibility: hidden; }
.shiny-output-error:before {
  visibility: visible;
  content: "L'application a rencontré une erreur. Merci de contacter l'administrateur via un issue sur le site github du projet (bouton situé en haut à droite)."; 
}

.icon_drees {
    background: url('drees_icon.png');
    height: 20px;
    width: 22px;

    /* Other styles here */
}

.vert_center {
  vertical-align: middle;
}

.icon_ministere {
    background: url('mss_icon.jpg');
    height: 20px;
    width: 21px;
    /* Other styles here */
}

.icon_github {
    background: url('github_icon.png');
    height: 20px;
    width: 20px;
    /* Other styles here */
}

.icon_carto {
    background: url('carto_icon.png');
    height: 20px;
    width: 20px;
    /* Other styles here */
}

.drees_footer{
  background: #0253a3;
  background-size: contain;
  width:100%;
  height:100%;
  margin-bottom: 0px;
}



img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;

}


#sidebarCollapsed {
    background: #0253a3;
}

#DT_to_render{
  margin-bottom: 50px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
  max-width: 100%;
}

.content , .col-sm-12 , .row {
  padding-right:0;
  padding-left:0;
  margin-right:0;
  margin-left:0;
}

.selectize-input{
  padding-top:12px;
  padding-bottom:12px;
}

.selectize-control.multi .selectize-input.has-items{
  padding-top:10px;
  padding-bottom:10px;
}

.small-box {
  margin-bottom:5px;
}

.dataTables_wrapper tr {
  cursor: pointer;
}



#placeholder_datatable {
  margin:20px 20px 20px 20px;
  color:#ffffff;
}

#placeholder_datatable .box{
   background:#1c8cfd;
   margin:0;
   border-radius:10px;
}

#placeholder_datatable .box_text_content{
  padding:10px;
}

#placeholder_datatable h3 {
  margin-top:0px;
}

#placeholder_datatable a[href]{
  color:#d9d9d9;
}
#placeholder_datatable a:not([href]){
  color:#ffffff;
}

#placeholder_datatable .columns{
  padding:15px;
}



.slick-dots {
  position:relative;
}

.slick-dots li  {
  width:45px;
  height:40px;
  margin: 0;
  
}


.resultats .selectize-dropdown-content{
  max-height:50vh;
  min-height:300px;
  overflow:auto;
}